/* Reset CSS */
* { box-sizing: border-box; }
ul, li { list-style: none; padding: 0; }
a { text-decoration: none; }
body { margin: 0; font-family: "NotoSansKR_r";}
html { font-size: 10px !important; }

#empty_page{
  height: 60.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
}
#empty_page h4{
  font-family: "NotoSansKR_r";
  color: #707070;
}
#empty_page p{
  font-family: "NotoSansKR_r";
  text-align: center;
  color: #707070;
}
#empty_page p span{
  font-family: "NotoSansKR_m";
  color: #3b3b3b;
  font-weight: 500;
}

.member-container {
    margin-top: 30px;
    display: grid;
    grid-template-areas: 'member-content member-button' 'member-board member-board';
    grid-template-columns: 2.45fr 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 30px;
}

/* content CSS */
.member-content {
    grid-area: member-content;
    width: 87%;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 3.5rem;
    padding-right: 0px;
    position: relative;
    justify-self: end;

    display: flex;
    align-items: center;
}

.member-content img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

.content-info {
    padding-left: 3.0rem;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    color: #5b5b5b;
    display: flex;

}

.content-info ul:first-child {
    text-align: right;
    margin-right: 1.0rem;
}

.content-info ul:last-child {
    text-align: left;
}

.content-info ul li:last-child {
    padding: 0;
}

ul, li {
    font-size: 1.5rem;
    margin: 0;
}

ul {
    display: inline-block;
    padding-left: 1.0rem;
}

li {
    padding-bottom: 5px;
}

/* button CSS */
.member-button {
    width: 100%;
    grid-area: member-button;
    display: grid;
    align-content: space-between;
}

.member-button input {
    width: 67.2%;
    background-color: #fff;
    height: 8.0rem;
    color: #7B7B7B;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    border: none;
    font-family: "NotoSansKR_m";
}

/* board CSS */
.member-board {
  grid-area: member-board;
  width: 82%;
  height: auto;
  justify-self: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  margin: 3.0rem 0 0;
}

.board-content {
  font-size: 1.5rem;
  background-color: #fff;
  color: #7B7B7B;
  height: 100%;
}

.board-content p {
  margin: 0;
  padding: 0 0 0 30px;
}

table {
  height: auto;
}

th {
  text-align: left;
  padding: 20px 0;
  border-bottom: 3px solid #F0F0F0;
}

td {
  font-family: "NotoSansKR_m";
  padding: 20px 0;
  border-bottom: 3px solid #F0F0F0;
  text-align: left;
}

td:nth-child(1) {
  width: 40%;
}

td:nth-child(2) {
  width: 20%;
}

td:nth-child(3) {
  width: 15%;
}

td:nth-child(4) {
  width: 10%;
}

td:nth-child(5) {
  width: 10%;
}

/* pagenation CSS */
#pagenation_box a {
    color: #5B5B5B;
}

#pagenation_box {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: "NotoSansKR_m";
  font-size: 1.5rem;
  padding-top:2.0rem;
}

#pagenation_box a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 3.0rem;
  height: 3.0rem;
}

#pagenation_box a::before {
  color: white;
}

#pagenation_box a:focus, #pagenation_box a:hover {
  color: white !important;
  background-color: #3b3b3b !important;
  border-radius: 10rem;
}

/* Mobile CSS */
@media (max-width: 768px) {
  .member-container {
    grid-template-areas: 'member-content' 'member-button' 'member-board';
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1.25fr  8.66fr;
  }

  .member-content {
    justify-content: space-around;
    justify-self: center;
    padding: 20px;
    height: 100%;
    position: relative;
  }

  .member-content img {
    width: 100px;
    height: 100px;
  }



  ul, li {

  }

  ul {
    padding: 0;
    padding-right: 5px;
  }

  .member-button {
    width: 88%;
    float: left;
    grid-gap: 8.5%;
    display: flex;
    justify-self: center;
    margin-top: 2.0rem;
  }

  .member-button form {
    width: 45.38%;
    display: inline-block;

  }

  .member-button input {
    width: 100%;
    margin: 0;
  }

  .member-board {
    width: 87%;
  }

  p,
  td:nth-child(3),
  th:nth-child(3),
  td:nth-child(4),
  th:nth-child(4) {
    display: none;
  }

  td:nth-child(1),
  td:nth-child(2) {
    width: 25%;
  }

  th, td {
    padding: 10px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  html,body{font-size: 10px!important;}
}
@media only screen and (max-width: 768px) {
  html,body{font-size: 9px!important;}
}
@media only screen and (max-width: 540px) {
  html,body{font-size: 8px!important;}
}
@media only screen and (max-width: 360px) {
  html,body{font-size: 7px!important;}
}
