html{font-size: 10px;}
body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  background-color:#F5F6F7;
  position: relative;
  font-family: "NotoSansKR_r";
}
#topMenu_box{
  width: 100%;
  height: 14.0rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
#topToolbar_box{
  margin-right: 10%;
}
#topToolbar_box ul{
  list-style: none;
  display: flex;
}
#topToolbar_box li{
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  font-size: 2.0rem;
  color:#707070
}
#bannerImg_box{
  width: 100%;
  position: relative;
}

#selectMetro_box{
  background-color: #00ff00;
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.16);
  width: 71%;
  height: 45%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,82%);
  border-radius: 30px;

}
#mainContent_box{

}
#icon_box{

}
#slideImg_box{
  width: 100%;

  position: relative;
  overflow: hidden;
}
#slideImg_list{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#slideImg_list li>img{
  width: 100%;


}
#explain_box{
  margin: 0 auto;
  font-family: "NotoSansKR_r";
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-auto-rows: minmax(220px, auto);
  grid-gap: 1rem;
  width: 70%;
  text-align: center;
}
#footer_box{
  width: 100%;
}
#information_box{
  grid-template-columns: 8fr 2fr 2fr 3fr;
  list-style: none;
  display: grid;
  align-items:start;
  padding: 0 2.0rem;
  margin-top: 4.0rem;
}
#information_box ul{
  list-style: none;
  font-size: 2.4rem;
  font-family: "NotoSansKR_r";
  color:#5e5956;
  padding: 0 1.0rem;
}
#information_box ul li span{
  font-size: 2.4rem;
  font-family: "NotoSansKR_r";
}
.item ul{margin: 0;}
.item:nth-child(1){
  color:#5e5956;
  font-size: 2.0rem;
  font-family: "NotoSansKR_t";
}
.item:nth-child(1) span{
  font-size: 2.4rem;
  font-family: "NotoSansKR_r";
}
.item:nth-child(3) a{
  font-family: "NotoSansKR_b";
  color:#5e5956;
}
.item:nth-child(4) ul{
  display: flex;
}
.item:nth-child(4) li{
  padding: 0 1.5rem;
}
.titleText_1{
  text-align: center;
  font-size: 4.5rem;
}
.textStyle_1{
  text-align: center;
  margin-bottom: 9.0rem;
  font-size: 2.0rem;
}
.imgbox_1 {
  margin-left: 10%;
}
.imgbox_2 {
  width: 100%;
}
.imgbox_3 {
  width: 22%;
}
.imgbox_4 {
  padding: 2.0rem;
  padding-top: 2.0rem;
  width: 40%;
}
.textBox_1{
  padding: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.textBox_1 ul{
  padding: 0px;
  list-style: none;
  width: 45%;
}
.textBox_1 li{font-size: 1.6rem;}
.textBox_1 span{font-size: 3.0rem;}
.textBox_1 img {width:100%;}
.textBox_1 .leftLine{
  text-align: right;
}
.textBox_1 .rightLine{
  text-align: left;
}

.next{

}
.prev{

}
.left{float: left;}
.right{float: right;}
.clear{clear: both;}
a{text-decoration: none;}
@media only screen and (min-width: 1920px) {
  body{
    width: 1920px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  #information_box{
    margin: 4.0rem auto 2.0rem auto;
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }
  .item:nth-child(1){
    text-align: left;
    grid-column: 1/6;
    order:4;
  }
  .item:nth-child(2){
    order:1;
  }
  .item:nth-child(3){
    order:2;
  }
  .item:nth-child(4){
    grid-column: 1/6;
    order:3
  }
  .item{
    text-align: center;
    padding: 1.0rem 0;
  }
  .imgbox_3 { width: 25%;}
  .imgbox_4{
    width: 100%;
    text-align: center;
    padding:0;
  }
  html{font-size: 9px;}

}
@media only screen and (max-width: 768px) {
  #topMenu_box{
    flex-direction: column;
  }
  #topMenu_box .imgbox_1{
    margin: 2.0rem auto;
  }
  #explain_box{width: 85%}
  html{font-size: 8px;}
}
@media only screen and (max-width: 540px) {
  html{font-size: 8px;}
  #explain_box{grid-template-columns: 10fr;}

}
@media only screen and (max-width: 340px) {
  .text_box ul {width: 60%;}
  html{font-size: 7px;}
}
