
#topMenu_box{
  width: 100%;
  height: 14.0rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
#topToolbar_box{
  margin-right: 10%;
}
#topToolbar_box ul{
  padding: 0;
  list-style: none;
  display: flex;
}
#topToolbar_box li{
  font-family: "NotoSansKR_r";
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  font-size: 2.0rem;
  color:#707070;
  cursor: pointer;
}
.imgbox_1 {
  margin-left: 10%;
  text-align: center;
}
.imgbox_1 img{width: 100%}



a{text-decoration: none;}
@media only screen and (max-width: 768px) {
  #topToolbar_box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin:0;
    margin-bottom: 1.0rem;
  }
  #topMenu_box{
    height: auto;
    flex-direction: column;
  }
  #topMenu_box .imgbox_1{
    margin: 2.0rem auto;
  }
  .imgbox_1 img{width: 75%}
}
