html,body{font-size: 10px!important;}
body {
  padding: 0;
  width:100%;
  height:100%;
  background-color:#f0f0f0;
  position: relative;
  font-family: "NotoSansKR_r";
}
a{text-decoration: none;}
p{margin: 0}
#wrapContainer_Box{
  width: 57%;
  margin: 10.0rem auto;
}
#pageTitle_box{
  text-align: center;
}
#pageTitle_box h2{font-family: "NotoSansKR_m";font-size: 4.5rem;color:#3b3b3b}
#pageTitle_box span{font-size: 1.6rem;color: #0099ff}

/* 슬라이드 */

#slideImg_box{}
.bx-wrapper{margin-bottom: 20px}
/* 슬라이드 */

#productInfo_title{
  width: 100%;
  height:24.0rem;
  padding: 2.0rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}
#productInfo_text{
  width: 100%;
  height:24.0rem;
  padding: 2.0rem;
  margin-top: 1.0rem;
  background-color: white;
  font-size: 2.0rem;
  color:#3b3b3b;
}


.otherProduct_title{width: 100%;margin:5.0rem 0;font-size: 3.0rem;color: #444444;}
.otherProduct_gridBox{
  display: grid;
  width: 100%;
  grid-column-gap: minmax(1.0rem,6.0rem)
}
.otherProduct_content{width: 230px;height: 330px;}
.otherProduct_content_img{width: 100%;height:230px;background-color:gray;}
.otherProduct_content_img img{width: 100%;height:100%}
.otherProduct_content_text{width: 100%;height: 95px;margin-top: 5px;background-color: white;}

/* 문제의 그 곳  */

.userProfile_line{display: flex;justify-content: space-between;align-items: center;margin-bottom: 1.0rem}
  .userProfile{display: flex;}
    .pr_namestation{display: flex;flex-direction: column;}
      .pr_namestation p{font-size: 2.0rem;color: #3b3b3b}
      .pr_namestation span{font-size: 1.5rem;color: #5b5b5b}
  .reportBtn_box{}
    #reportBtn_box span{font-size: 1.5rem;color: #3b3b3b;}

.productTitle_line{display: flex;justify-content: flex-start;margin: 1.0rem 0;}
  .productTitle_line p{font-family: "NotoSansKR_m";font-size: 2.7rem;color: #3b3b3b}

.productPrice_line{display: flex;justify-content: space-between;margin: 1.0rem 0;}
  .productPrice_line span{font-size: 2.0rem;color: #3b3b3b}
  .checkPricepNegotiation{font-size: 2.0rem;color: #3b3b3b}

.productCategory_line{display: flex;justify-content: space-between;margin-bottom:1.0rem}
  .pr_category{font-size: 1.5rem;color: #a7a7a7}
  #extraBtn_box{display: flex;justify-content: space-between;}
    #extraBtn_box span{font-size: 1.5rem;color: #3b3b3b}
    #extraBtn_box .imgPlusText{margin-left: 1.0rem}

.imgPlusText{display: flex;align-items: center;}
.img_box{margin-right: 0.4rem;}

#productInfo_text{width:100%;height:24.0rem; }
.radiusTop{border-top-left-radius: 10px;border-top-right-radius: 10px}
.radiusBottom{border-bottom-left-radius: 10px;border-bottom-right-radius: 10px}

@media only screen and (min-width: 1920px) {
  body{
    width: 1920px;
    left: 50%;
    transform:translateX(-50%);
  }
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1024px) {
  html,body{font-size: 9px!important;}
}
@media only screen and (max-width: 768px) {
  html,body{font-size: 8px!important;}
}
@media only screen and (max-width: 540px) {
  html,body{font-size: 8px!important;}
}
@media only screen and (max-width: 425px) {
  html,body{font-size: 8px!important;}
}
@media only screen and (max-width: 340px) {
  html,body{font-size: 7px!important;}
}
