html{font-size: 10px;}
body {
  margin: 0 auto;
  padding: 0;
  width:100%;
  height:100%;
  background-color:#f0f0f0;
  position: relative;
  font-family: "NotoSansKR_r";
}
a{text-decoration: none;}
#wrapContainer_Box{
  width: 72%;
  margin: 13rem auto;
}
.radius_box{
  width: 100%;
  border-radius:10px;
  background-color: WHITE;
  padding: 3% 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px 0 rgba(200, 200, 200, 0.16);
 }
.title_box{
  border-bottom: solid 0.3rem #F5F6F7;
  display: flex;
  align-items: center;
}
.title_box d{color:#0099ff}
.title_box h2{font-family: "NotoSansKR_r";font-size: 2.5rem;}
.title_box span{font-family: "NotoSansKR_r";margin-left: 1.0rem;font-size: 1.7rem;color:#a7a7a7}
.content_box{
  width: 100%;
  display: flex;
  align-items: center;
  outline: none;
  font-family: "NotoSansKR_r";
}
.categoryGrid_box{
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 2.0rem;
  grid-auto-rows: 6.0rem;
  grid-gap:1.0rem;
  grid-template-columns: repeat(7, 1fr);
}
.categorylabel{cursor: pointer;color: #3b3b3b}
#selectedCategory{color: blue;}
.test{width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;}


.imgGrid_box{
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: end;
  grid-gap:1.0rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
}
.imgGrid_box .img_Item{width: 100%;height:100%;background-size:100% 100%;background-repeat:no-repeat;}

#insertTitle_box .w3-input{outline: none;background-color:white!important;border-bottom:none!important;width: 90%}
#insertPrice_box .w3-input{outline: none;background-color:white!important;border-bottom:none;}

#insertTitle_box .content_box{border-bottom: 2px solid #a7a7a7;justify-content: space-between;}
#insertPrice_box .content_box{border-bottom: 2px solid #a7a7a7;width:35%;}


#insertText_box .content_box{flex-direction:column;align-items:flex-end;;border:solid 0.1rem #a7a7a7;margin-top:2.0rem}
#insertText_box textarea{outline:none;border:none;}
#check_explainTextCount {margin-right: 0.5rem;}

.btn_box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn_box input{width: 18.0rem;margin: 0 1.0rem}
.btn_box input:nth-child(1){}
.btn_box input:nth-child(2){background-color:#e3e3e3; }
@media only screen and (min-width: 1920px) {
  body{
    width: 1920px;
    margin: 0 auto;
    left: 50%;
    transform:translateX(-50%);
  }
}
