html,body{font-size: 10px!important;}
body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-family: "NotoSansKR_r";
  position: relative;
}
#wrapPage{
  width:100%;
  background-color:#f0f0f0;
}
a{text-decoration: none;}
p{margin: 0}
#wrapContainer_Box{
  width: 100%;
  margin-bottom: 20rem;
}
#mainProduct_box{
  width: 71%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin:  5.0rem auto 8.0rem;
}
#mainProduct_information{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}
#pageTitle_box{
  text-align: center;
}
#pageTitle_box h2{font-family: "NotoSansKR_m";font-size: 4.5rem;color:#3b3b3b}
#pageTitle_box span{font-size: 1.6rem;color: #0099ff}
#star_btn{cursor: pointer;}
/* 슬라이드 */

#slideImg_box{
  width:49%;
  height: 60.0rem;
}

.bx-wrapper{border: none;border-radius: 10px; margin: 0;height: 85%;}
.bx-wrapper .bx-viewport{height: 100%!important;}

.bx-viewport{border-radius: 10px}
.bx-viewport div{height: 100%;}
.bx-viewport .bxslider img{width: 100%;max-width: 100%;height: 100%;border-radius: 10px;margin: 0 auto;}



#customPager{
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  place-items:center;
  align-items: flex-end;
}
#customPager a{
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 80%;
  justify-content: center;
  border-radius: 10px;
}

#customPager a.active{;border: solid #bebebe 1px;text-align: center;}
#customPager a:focus{;border: solid #bebebe 1px;text-align: center;}

#customPager a img{
  width: 90%;
  height:7.0rem;
  border-radius: 10px;
}
/* 슬라이드 끝 */

#productInfo_title{
  width: 100%;
  height:auto;
  padding-bottom:1.0rem;
  font-size: 3.5rem;
  color: #3b3b3b;
  font-family: "NotoSansKR_m";
}
.title_category{display:flex;}
  .title_category h3{font-size: 2.5rem;color: #a7a7a7; }
  .pr_category{margin-left: 1.0rem;font-size: 1.5rem;color: #a7a7a7;display: flex;align-items: flex-end;}

#productInfo_text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.0rem 0;
  border-top: solid 2px #e5e6e7;
  border-bottom: solid 2px #e5e6e7;
  border-radius: 10px;
  font-size: 2.0rem;
  color:#3b3b3b;
  row-gap : 2.0rem;
}
#productInfo_text h3{margin: 0;}
#productInfo_text p {width: 100%;max-height:28.0rem;overflow-y:scroll;display: flex;flex-direction: column;}
#productInfo_text p::-webkit-scrollbar {margin-top: 0.5rem;width: 8px;height: 8px;}
#productInfo_text p::-webkit-scrollbar-thumb{border-radius: 3.5px;background-color:#E1E5E9}
#productInfo_text p::-webkit-scrollbar-thumb:active {background-color: #ced4da;}
#productInfo_text p::-webkit-scrollbar-track {}


/* .radiusTop{border-top-left-radius: 10px;border-top-right-radius: 10px}
.radiusBottom{border-bottom-left-radius: 10px;border-bottom-right-radius: 10px} */

/* */
#sell_user{
  display: flex;
  justify-content: space-between;
}

.userProfile_line{width: auto;height: auto;display: flex;justify-content: space-between;align-items: center;background: white;border-radius: 10px;}
  .userProfile{display: flex;}
    .profileImg{width: 7.5rem;height: 7.5rem;}
    .profileImg img{width: 100%;height:100%;}
    .pr_namestation{display: flex;flex-direction: column;justify-content: space-around;margin-left: 2.0rem;}
      .pr_namestation p{font-size: 2.3rem;color: #3b3b3b}
      .pr_namestation span{font-size: 2.3rem;color: #5b5b5b}

.userBtn_line{display: flex;align-items: center;}
.userBtn_line button{
  width:auto ;
  height:auto;
  margin-left: 4.0rem;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border-radius: 40px!important;
  background-color:inherit!important;
  outline: none;
  border: none;
  cursor: pointer;
}
.userBtn_line button span{font-size: 1.8rem;color: #3b3b3b;}
  /* #reportBtn_box{cursor: pointer;align-self:flex-end;}
    #reportBtn_box span{font-size: 1.5rem;color: #3b3b3b;} */


#mainBtn_box{display: flex;justify-content: space-between;flex-direction: column;}
#mainBtn_box p{font-size: 1.8rem;color: #3b3b3b;margin-top:2.0rem;text-align: right;}
#mainBtn_box p span{font-size: 3.5rem;color:#2196F3!important;}

#mainBtn_box .button_line{display: flex;width:100%;margin-top: 2.0rem;justify-content: space-between;align-items: center;}
#mainBtn_box .button_line span{font-size: 2.5rem;}

#mainBtn_box #requestTrade_btn{width: 80%;}
#mainBtn_box #registerInterest_btn{width: 8.0rem;}
#mainBtn_box button{height:8.0rem;display:flex;align-items:center;justify-content: center;box-shadow: 5px 5px 10px 0 rgba(59, 59, 59, 0.16);padding: 2.0rem 0;border-radius: 40px!important;}
/* #mainBtn_box button:nth-child(1){width: 15%;} */
#mainBtn_box .talk span{color: white!important;}

#hidden_title{font-size: 2.5rem;color: #3b3b3b;display: none;width: 100%;text-align: center;}
#hidden_title p{width: 100%;}

.otherProduct_title h3{width: 71%;margin:5.0rem auto;font-size: 3.0rem;color: #444444;font-family: "NotoSansKR_m";}
.otherProduct_gridBox{
  flex-wrap: wrap;
  display: grid;
  width: 71%;
  margin: 0 auto;
  grid-template-columns: repeat(4,1fr);
  grid-row: auto;
  justify-items: center;
}
.otherProduct_content{width: auto;height: auto;}
.otherProduct_content_img{width: 230px;height:230px;box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);border-radius: 10px;position: relative;}
#overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba( 0, 0, 0, 0.5 );
  width: 100%;
  height: 100%;
  z-index: 1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px ;
}
#overlay span{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "NotoSansKR_r";
  font-size: 2.0rem;
}
.otherProduct_content_img img{width: 100%;height:100%}
.otherProduct_content_text{width: 230px;height:auto;display: flex;flex-direction: column;margin-top: 5px;padding: 1.0rem;text-align: center;}
.otherProduct_content_text_title_line{width: 100%;font-family: "NotoSansKR_m";font-size: 1.5rem;color: #5b5b5b;
overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_price_line{width: 100%;font-family: "NotoSansKR_m";font-size: 1.5rem;color: #5b5b5b;
overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_station_line{width: 100%;font-family: "NotoSansKR_r";font-size: 1.5rem;color: #707070;
overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_category_line{width: 100%;display: flex;justify-content: space-between;overflow : hidden;font-family: "NotoSansKR_r";font-size: 1.5rem;color: #707070;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_category_line span{}


.imgPlusText{display: flex;align-items: center;}
.img_box{margin-right: 0.4rem;display: flex;align-items: center;text-align: center;}
.img_box img{width: 100%;height: 100%;}



/* 모달팝업  */
.modal {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.modal .bg {
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 10000;
}
.modal .bg .fix_page{
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 10001
}

/* 신고모달팝업  */
.modal .report_modalBox {
 max-width:600px;
 width: 80%;
 height: auto;
 position: absolute;
 background-color: #fff;
}

/* 도착시간모달팝업 */
.modal .arrivalTime_modalBox {
  max-width:600px;
  width: 80%;
  height: auto;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  background-color: #ffffff;
}

.arrivalTime_imgBox{
  display: flex;
  justify-content:center;
  width: 100%;
  height: auto;
  padding-top: 3.0rem;
  text-align: center;
  background-color: #0099ff;
  border-top-left-radius:20px;
  border-top-right-radius: 20px;
}
.arrivalTime_contentBox{
  width: 100%;
  height: auto;
  padding: 3.0rem 0;
  display:block;
  font-family: "NotoSansKR_r";
  font-size: 1.8rem;
  color:#a1a1a1;
}
.arrivalTime_contentBox h3{font-family: "NotoSansKR_m";font-size: 2.0rem;color: #1d1d1d;margin: 0;padding: 0;text-align: center;}

.arrivalTime_modalBox span{font-size:1.8rem;color: #a1a1a1;}
.arrivalTime_modalBox .find_item{max-width:200px;width: 42.5%;border-bottom: 3px solid #a5a5a5;}
.arrivalTime_modalBox .w3-input{font-size:1.8rem;color: #3b3b3b;outline: none;background-color:white!important;border: none;padding: 0.5rem}

.arrivalTime_modalBox .find_item:nth-child(1){}
.arrivalTime_modalBox #bothFind_item{display: flex;width: 100%;flex-direction:row;justify-content:space-around;align-items:flex-end;margin-top: 2.0rem;}

.timeResult{display: flex;flex-direction: column;justify-content: center;text-align: center;margin-top: 2.0rem;}
  #requiredTime{font-family: "NotoSansKR_m";font-size: 3.2rem;color:#444; }
  #requiredTime_detail{}
.search_arrivalTime{display: flex;align-items:flex-end;justify-content: center;margin-top:4.0rem;}
.search_arrivalTime .w3-button{width: 16.0rem;padding: 0.8rem 1.6rem;color:white!important;font-size:1.5rem;font-family: "NotoSansKR_r";outline: none;margin: 0 4.0rem}

/* 거래요청 모달팝업 */
.modal .requestTrade_modalBox {
  max-width:600px;
  width: 80%;
  height: auto;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  background-color: #ffffff;
}
.requestTrade_imgBox{
  display: flex;
  justify-content:center;
  width: 100%;
  height: auto;
  padding-top: 3.0rem;
  text-align: center;
  background-color: #0099ff;
  border-top-left-radius:20px;
  border-top-right-radius: 20px;
}
.requestTrade_contentBox{
  width: 100%;
  height: auto;
  padding: 3.0rem 0;
  text-align: center;
}
.requestTrade_contentBox h3{font-family: "NotoSansKR_m";font-size: 2.0rem;color: #1d1d1d;margin: 0;padding: 0;}
.requestTrade_contentBox p{font-family: "NotoSansKR_r";font-size: 2.0rem;color: #7d7d7d;margin-top: 1.0rem}
.requestTrade_contentBox p span{padding-bottom: 1.0rem}
.requestTrade_btnLine{width: 100%;display: flex;justify-content:center;margin-top:4.0rem; }
  .requestTrade_btnLine .w3-button{padding: 1.0rem 4.5rem;color:white!important;font-family: "NotoSansKR_r";font-size: 1.5rem;margin: 0 4.0rem}

.ui-autocomplete{z-index: 10003}

.closeBtn_box {
 display: flex;
 justify-content: flex-end;
}
.closeBtn{cursor: pointer;}
.hidden {display: none!important;}

.ui-menu-item{font-size: 1.4rem;}
.ui-menu{max-height: 200px;overflow-x: hidden;overflow-y: scroll;position: fixed;}

@media only screen and (min-width: 1920px) {
  #wrapPage{
    width: 1920px;
    margin: 0 auto!important;
  }
}
@media only screen and (max-width: 1700px) {
  /* #wrapContainer_Box{width: 65%;} */
}
@media only screen and (max-width: 1440px) {
  /* #wrapContainer_Box{width: 80%;} */
  /* #mainProduct_box,.otherProduct_title h3,.otherProduct_gridBox{width: 80%;} */
.otherProduct_gridBox{height: 288px;}
  .otherProduct_content_img{width: 184px;height: 184px;}
  .otherProduct_content_text{width: 184px;}
}
@media only screen and (max-width: 1366px) {
  .otherProduct_gridBox{height: 252px;}
  .otherProduct_content_img{width: 161px;height: 161px;}
  .otherProduct_content_text{width: 161px;}
}
@media only screen and (max-width: 1024px) {
  html,body{font-size: 9px!important;}
  #mainProduct_box,.otherProduct_title h3,.otherProduct_gridBox,#reply_container{width: 80%!important;}
  /* #wrapContainer_Box{width: 85%;} */
  #mainProduct_box{flex-direction: column;}
  #slideImg_box{width: 100%;}
  .bx-wrapper{height: 80%;}
  #customPager{height: 20%;align-items: center;}

  #productInfo_title {margin:2.0rem 0 0}
  #productInfo_text .title_category{margin: 2.0rem 0;}
  #hidden_title{display: inherit;}

  #sell_user{flex-direction: column;}
  .userBtn_line{justify-content: space-around;padding-top: 2.0rem;border-top: solid #f0f0f0 1px;}
  .pr_namestation{margin: 2.0rem 0}
  .pr_namestation .imgPlusText {justify-content: center;}
  .userProfile_line{justify-content: center;padding: 3.0rem 0}
  .userProfile{flex-direction: column;justify-content: center;align-items: center;text-align: center;}

  #mainProduct_information{width: 100%;}
  #mainBtn_box p span{font-size: 2.5rem;}
  #mainBtn_box{flex-direction: row;margin-top: 2.0rem;}
  #mainBtn_box button{height: 6.2rem;}
  #mainBtn_box .button_line{width: auto;margin-top: 0}
  #mainBtn_box #requestTrade_btn{width: 31.0rem;height: 6.2rem}
  #mainBtn_box #registerInterest_btn{width:6.2rem; margin-left: 2.0rem}
  .otherProduct_gridBox{height: 216px;}
  .otherProduct_content_img{width: 138px;height: 138px;}
  .otherProduct_content_text{width: 138px;}
}
@media only screen and (max-width: 768px) {
  html,body{font-size: 8px!important;}
  #mainProduct_box,.otherProduct_title h3,.otherProduct_gridBox,#reply_container{width: 85%!important;}
  /* #wrapContainer_Box{width: 90%;} */
  #mainBtn_box{flex-direction:column;}
  #mainBtn_box #requestTrade_btn{width: 80%;}
  #mainBtn_box .button_line{width: auto;margin-top: 2.0rem}
  .arrivalTime_contentBox{flex-direction: column;}
  #arr_imgBox{display: none;}
  .timeResult,.search_arrivalTime{margin-top: 3.0rem;width: 100%;}
  .arrivalTime_contentBox #bothFind_item {width: 100%;justify-content: space-around;}
  .otherProduct_gridBox{grid-template-columns: 1fr 1fr 1fr;overflow-y: hidden;grid-row-gap:10.0rem}
  .otherProduct_content_img{width: 126.5px;height: 126.5px}
  .otherProduct_content_text{width: 126.5px;}
}
@media only screen and (max-width: 540px) {
  html,body{font-size: 7px!important;}
  .bx-wrapper{height: 75%;}
  #customPager{height: 25%;}
  .otherProduct_content:nth-child(4){display:none;}
  .otherProduct_content_img{width:115px;height: 115px}
  .otherProduct_content_text{width:115px;}
  #slideImg_box{height: 55.0rem;}
}
@media only screen and (max-width: 425px) {
  .otherProduct_gridBox{height: 190px;}
  .otherProduct_content_img{width: 95px;height:95px;}
  .otherProduct_content_text{width: 95px;}
  #slideImg_box{height: 50.0rem;}
}
@media only screen and (max-width: 375px) {
  html,body{font-size: 6px!important;}
}
@media only screen and (max-width: 340px) {
}
