html,body{font-size: 10px!important;}
body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-family: "NotoSansKR_r";
  position: relative;
}
#wrapPage{
  width:100%;
  background-color:#f0f0f0;
}
a{text-decoration: none;}
p{margin: 0}
#wrapContainer_Box{
  width: 71%;
  margin: 10.0rem auto;
}
#mainProduct_box{
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 5.0rem 0 2.5rem 0;
}
#mainProduct_information{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}
#pageTitle_box{
  text-align: center;
}
#pageTitle_box h2{font-family: "NotoSansKR_m";font-size: 4.5rem;color:#3b3b3b}
#pageTitle_box span{font-size: 1.6rem;color: #0099ff}
#star_btn{cursor: pointer;}
/* 슬라이드 */

#slideImg_box{width:49%;height: auto;}
.bx-wrapper{border: none;border-radius: 10px; box-shadow: 4px 4px 3px #000 inset; margin: 0;}
.bx-wrapper img{border-radius: 10px;height: 550px;}
.bx-wrapper .bx-pager{bottom:0;top: 80%;background:linear-gradient(to top, black, transparent);padding-top:0;display: flex;align-items: center;justify-content: center;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a {background: #bebebe;}

.bx-viewport{border-radius: 10px}
.bxslider img{border-radius: 10px;}
.bx-pager .bx-default-pager{}
/* 슬라이드 */

#productInfo_title{
  width: 100%;
  height:22%;
  padding: 2.0rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}
#productInfo_text{
  width: 100%;
  height: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.0rem;
  margin-top: 1.0rem;
  border-radius: 10px;
  background-color: white;
  font-size: 2.0rem;
  color:#3b3b3b;

}
#productInfo_text p {width: 100%;max-height: 200px;overflow:scroll;display: flex;
flex-direction: column;}
#productInfo_text p::-webkit-scrollbar {
  margin-top: 0.5rem;
  width: 8px;
  height: 8px;
  background: #ffffff;
  }
  #productInfo_text p::-webkit-scrollbar-thumb{
    border-radius: 3.5px;
    background-color:#E1E5E9
  }
  #productInfo_text p::-webkit-scrollbar-thumb:active {
    background-color: #ced4da;
  }
  #productInfo_text p::-webkit-scrollbar-track {
    background: #ffffff;
  }


.otherProduct_title h3{width: 100%;margin:5.0rem 0;font-size: 3.0rem;color: #444444;font-family: "NotoSansKR_m";}
.otherProduct_gridBox{
  flex-wrap: wrap;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
.otherProduct_content{width: 230px;height: 360px;}
.otherProduct_content_img{width: 100%;height:69%;box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);}
.otherProduct_content_img img{width: 100%;height:100%}
.otherProduct_content_text{width: 100%;height:29%;display: flex;flex-direction: column;margin-top: 5px;padding: 1.0rem;background-color: white;box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);}
.otherProduct_content_text_title_line{width: 100%;font-family: "NotoSansKR_m";font-size: 1.3rem;color: #5b5b5b;
overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_price_line{width: 100%;font-family: "NotoSansKR_m";font-size: 1.3rem;color: #5b5b5b;
overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_station_line{width: 100%;font-family: "NotoSansKR_r";font-size: 1.0rem;color: #5e5956;
overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_category_line{width: 100%;display: flex;justify-content: space-between;overflow : hidden;
text-overflow : ellipsis;
height : auto; /*(대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.) */
word-wrap : brek-word;
display : -webkit-box;
-webkit-line-clamp : 1; /*(줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다.) */
-webkit-box-orient: vertical;
-webkit-text-size-adjust: none;}
.otherProduct_content_text_category_line span{font-family: "NotoSansKR_t";font-size: 0.8rem;color: #7d7d7d;}





/* 문제의 그 곳  */

.userProfile_line{width: 100%;height: 15%;display: flex;justify-content: space-between;align-items: center;margin-bottom: 1.0rem;padding: 2.0rem;background: white;border-radius: 10px;}
  .userProfile{display: flex;}
    .profileImg{width: 50px;height: 50px;}
    .profileImg img{width: 100%;height:100%;}
    .pr_namestation{display: flex;flex-direction: column;justify-content: space-between;margin-left: 1.0rem;}
      .pr_namestation p{font-size: 2.0rem;color: #3b3b3b}
      .pr_namestation span{font-size: 1.5rem;color: #5b5b5b}
  #reportBtn_box{cursor: pointer;align-self:flex-end;}
    #reportBtn_box span{font-size: 1.5rem;color: #3b3b3b;}

.productTitle_line{display: flex;justify-content: flex-start;}
  .productTitle_line p{font-family: "NotoSansKR_m";font-size: 2.7rem;color: #3b3b3b}

.productPrice_line{display: flex;justify-content: space-between;}
  .productPrice_line span{font-size: 2.0rem;color: #3b3b3b;font-family: "NotoSansKR_m";margin-left: 1.0rem;}
  .checkPricepNegotiation{font-size: 1.5rem;color: #3b3b3b;font-family: "NotoSansKR_r";}

.productCategory_line{display: flex;justify-content: space-between;}
  .pr_category{font-size: 1.5rem;color: #a7a7a7}
  #extraBtn_box{display: flex;justify-content: space-between;}
    #extraBtn_box span{font-size: 1.5rem;color:#2196F3!important}
    #extraBtn_box button{display:flex;align-items:center;box-shadow: 5px 5px 10px 0 rgba(59, 59, 59, 0.16);}
      #extraBtn_box .talk span{color: white!important;}



.imgPlusText{display: flex;align-items: center;}
.img_box{margin-right: 0.4rem;}

#productInfo_text{width:100%; }
.radiusTop{border-top-left-radius: 10px;border-top-right-radius: 10px}
.radiusBottom{border-bottom-left-radius: 10px;border-bottom-right-radius: 10px}

.report_modal {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.report_modal .bg {
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 10000;
}
.report_modal .bg .fix_page{
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 10001
}
.report_modal .modalBox {
 max-width:600px;
 width: 80%;
 height: auto;
 position: absolute;
 background-color: #fff;
}
.closeBtn_box {
 display: flex;
 justify-content: flex-end;
}
.closeBtn{cursor: pointer;}




@media only screen and (min-width: 1920px) {
  #wrapPage{
    width: 1920px;
    margin: 0 auto!important;
  }
}
@media only screen and (max-width: 1700px) {
  /* #wrapContainer_Box{width: 65%;} */
}
@media only screen and (max-width: 1440px) {
  html,body{font-size: 9px!important;}
  #wrapContainer_Box{width: 80%;}
  .otherProduct_content{width: 184px;height: 288px;}
}
@media only screen and (max-width: 1366px) {
  html,body{font-size: 9px!important;}
  .otherProduct_content{width: 161px;height: 252px;}
}
@media only screen and (max-width: 1024px) {
  html,body{font-size: 8px!important;}
  #wrapContainer_Box{width: 85%;}
  .otherProduct_content{width: 138px;height: 216px;}
  .otherProduct_content_img{height:65%;}
  .otherProduct_content_text{;height:34%;}
}
@media only screen and (max-width: 768px) {
  html,body{font-size: 8px!important;}
  #wrapContainer_Box{width: 90%;}
  .otherProduct_content{width: 126.5px;height: 198px;}
}
@media only screen and (max-width: 540px) {
  html,body{font-size: 7px!important;}
  .otherProduct_content:nth-child(4){display:none;}
  .otherProduct_gridBox{grid-template-columns: repeat(3,1fr);}
  .otherProduct_content{width: 115px;height: 200px;}
  .otherProduct_content_img{height:57.5%;}
  .otherProduct_content_text{;height:40%;}
}
@media only screen and (max-width: 425px) {
  html,body{font-size: 7px!important;}
  .otherProduct_content{width: 95px;height: 190px;}
  .otherProduct_content_img{height:50%;}
  .otherProduct_content_text{;height:49%;}
}
@media only screen and (max-width: 375px) {
  html,body{font-size: 6px!important;}

}

@media only screen and (max-width: 340px) {

}
