body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width:100%;
  height:100%;
  background-color:#F5F6F7;
  position: relative;
}
.login-box{
  width:37%;
  height: 55%;
  text-align: center;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  color: #a7a7a7;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  margin: 12px 0;
  border-bottom: 2px solid #a7a7a7;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #a7a7a7;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.text_center{
  color: #a7a7a7;
  text-decoration: none;
  margin: 12px auto 0 auto;
  font-size: 1.15em;
}
.line  {
  width: 40%;
  height: 2px;
  margin:0px;
  background-color: #a7a7a7;
}
.clear{
  clear:both;
}
#login {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: bold;
}
.imgbox{
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
#boundarybox {
  margin:12px 0 12px 0;
  align-items: center;
  display:flex;
}
#imgbox {
  text-align: center;
  margin-bottom: 10px;
}
#imgbox img{
  padding: 0 5px 0 5px;
}
input::placeholder{
  color:#a7a7a7;
  opacity: 0.8;
}
@media only screen and (max-width: 1024px) {
.login-box{width:60%;}
}
@media only screen and (max-width: 768px) {
  .login-box{
    width: 70%;
  }
}
@media only screen and (max-width: 540px) {
  #login{ font-size:1.1em;}
  .imgbox input{    width: 100%;  }
  .imgbox img{    width: 100%;  }
}
