body{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  background-color:#F5F6F7;
  position: relative;
}
.login-box{
  width: 42%;
  height: 100%;
  text-align: center;
  position: absolute;
  left:50%;
  top:50%;
  margin-top: 50px;
  transform:translate(-50%,-50%);
  color: #a7a7a7;
}
.imgbox {
  text-align: center;
}
#inputbox {
  width: 400px;
  margin: auto;
}
#boundarybox {
  width:100%;
  text-align: center;
  font-family: "NotoSansKR_m";
  font-size:1.45em;
  color: ;
  margin:12px 0 12px 0;
  align-items: center;
  display:flex;
}
#fitst_email {
  width:30%
}
#second_email {
  width:25%
}
#id_check {
  font-family: "NotoSansKR_m";
  color: #a7a7a7;

}
.textbox{
  text-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  margin: 30px 0;
  border-bottom: 1px solid #a7a7a7;
}
.textbox input{
  font-family:"NotoSansKR_m";
  border: none;
  outline: none;
  background: none;
  color: #3b3b3b;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.textbox input::placeholder{
  font-family:"NotoSansKR_m";
  color: #a7a7a7;
  font-size: 18px;
}
.textbox select{
  font-family:'NotoSansKR_r';
  width: 30%;
  border: none;
  outline: none;
  background: none;
  color: #a7a7a7;
  font-size: 15px;
  float: left;
  border-left: solid 1px #a7a7a7;
  padding-left: 5px;
}
.text_center{
  color: #a7a7a7;
  text-decoration: none;
  margin: 12px auto 0 auto;
  font-size: 1.15em;
}
.line  {
  width: 30%;
  height: 2px;
  margin:0px;
  background-color: #a7a7a7;
}
.tite_1{
  width: 40%;
}


@media only screen and (max-width: 1024px) {
  .login-box{width:70%;}
  #inputbox{width: 80%;}
}

@media only screen and (max-width: 768px) {
  .login-box{width: 70%;}
  #inputbox {width: 100%;}
}

@media only screen and (max-width: 540px) {
  #boundarybox{ font-size:1.1em;}
  .line{width: 20%}
  .tite_1{width: 60%}
  .imgbox img{    width: 100%;  }
  .imgbox input{    width: 100%;  }
  #fitst_email {width:40%}
  #second_email {width:35%}
  .textbox select{display: none;}
}
