html,body {
    font-size: 10px !important;
    text-decoration: none;
}

body {
    width: auto;
    height: auto;
    background: #F0F0F0;
    padding: 4.2% 7% 10% 7%;
    margin: 0;
}

.note {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.6fr 1.2fr 8.6fr;
    align-content: center;
    row-gap: 5.2%;
}

.header {
    grid-column: 1 / span 2;
    width: 100%;
}

.title {
    font-size: 2rem;
    color: #3b3b3b;
    padding-left: 2.1%;
}

.text {
    font-size: 1.5rem;
    font-family: "NotoSansKR_m";
    color: #3b3b3b;
    padding-left: 2.1%;
}

.note > button {
    border: 0;
    outline: 0;
}

.btn1 {
    text-align: center;
    line-height: auto;
    font-size: 1.5rem;
    line-height: 35%;
    height: auto;
    color: #fff;
    background-color: #09f !important;
    cursor: pointer;
}

.btn2 {
    text-align: center;
    line-height: auto;
    font-size: 1.5rem;
    line-height: 35%;
    height: auto;
    color: #3b3b3b;
    background-color: #fff !important;
    cursor: pointer;
}


.content {
    grid-column: span 3;
    background: #fff;
    border-radius: 20px;
    width: 100%;
    height: 134.2%;
    position: relative;
    box-shadow: 0px 3px 10px #b3b3b3;
}

.content2 {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#contentBody {
  grid-column: span 2;
  background: #fff;
  border-radius: 20px;
  width: 100%;
  height: 134.2%;
  position: relative;


  background: #fff;

}

.contentheader {
    margin: 0 auto;

}

.contentheader th {
    font-size: 1.5rem;
    color: #7b7b7b;
    width: 31%;
    height: 60px;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
}

.contentheader td {
    font-size: 1.5rem;
    color: #4b4848;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
}
